# Python Task 1 - Data Analyst Assignment

#### Name - Atharva Hiwase
#### Email - atharva.hiwase07@gmail.com

In [95]:
# Importing Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [96]:
data = pd.read_csv('tradelog.csv',encoding='utf-8', encoding_errors='ignore')

In [97]:
data.head(10)

,Unnamed: 0,Ticker,Entry Time,Entry Price,Exit Time,Exit Price
0,1,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00
1,2,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75
2,3,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00
3,4,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55
4,5,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15
5,6,BANKNIFTY16JUL2022600CE,13-07-2020 09:29,229.35,13-07-2020 11:11,370.55
6,7,BANKNIFTY16JUL2022600PE,13-07-2020 09:29,590.85,13-07-2020 11:11,356.50
7,8,BANKNIFTY16JUL2021800CE,14-07-2020 09:29,224.35,14-07-2020 10:56,314.65
8,9,BANKNIFTY16JUL2021800PE,14-07-2020 09:29,513.65,14-07-2020 10:56,328.55
9,10,BANKNIFTY16JUL2021600CE,15-07-2020 09:29,329.25,15-07-2020 12:03,265.65

In [98]:
# dropping the first column of the data 'Unnamed: 0'

data = data.drop(['Unnamed: 0'], axis=1)

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ticker       249 non-null    object
 1   Entry Time   249 non-null    object
 2   Entry Price  249 non-null    float64
 3   Exit Time    249 non-null    object
 4   Exit Price   249 non-null    float64
dtypes: float64(2), object(3)
memory usage: 9.9+ KB

### Question 1. Total Trades ?

In [100]:
total_trades = len(data)
print('Total trades are: {}'.format(total_trades))

Total trades are: 249

### Question 2: Profitable Trades

In [101]:
# For generating profitable trades, first we will make a calculated column where we will print the profit of the trades.
# Profit = Exit Price - Entry Price
# Then we will count the number of trades where the profit is greater than 0.

data = data.assign(Profit = data['Exit Price'] - data['Entry Price'])
rows_with_profit = data.loc[data['Profit'] > 0]
print('Total profitable trades are: {}'.format(len(rows_with_profit)))

Total profitable trades are: 153

### Question 3: Loss making trades
### For loss making trades we will perform same process. Just that we will count those rows where the profit is less than 0.

In [102]:
data = data.assign(Profit = data['Exit Price'] - data['Entry Price'])
rows_with_loss = data.loc[data['Profit'] < 0]
print('Total loss making trades are: {}'.format(len(rows_with_loss)))

Total loss making trades are: 96

### Question 4: Win Rate: Ratio of Profitable trades to all the trades
### win rate ratio = len(rows_with_profit) / total_trades

In [103]:
win_rate_ratio = len(rows_with_profit) / total_trades
win_rate_ratio = win_rate_ratio * 100
print('Win Rate Ratio is: {:.2f}%'.format(win_rate_ratio))

Win Rate Ratio is: 61.45%

### Question 5: Average Profit per trade.

In [104]:
total_profit = 0
total_profitable_trades = 0
for pro in range(len(data['Profit'])):
    if data['Profit'][pro] > 0:
        total_profit += data['Profit'][pro]
        total_profitable_trades += 1
        
print(total_profit)

Average_profit_per_trade = total_profit / total_profitable_trades
print('Average Profit Per Trade is: {:.2f}'.format(Average_profit_per_trade))

11642.6
Average Profit Per Trade is: 76.10

### Question 6: Average Loss per Trade

In [105]:
total_loss = 0
total_loss_trades = 0
for pro in range(len(data['Profit'])):
    if data['Profit'][pro] < 0:
        total_loss += data['Profit'][pro]
        total_loss_trades += 1
        
print(abs(total_loss))

Average_loss_per_trade = total_loss / total_loss_trades
print('Average loss Per Trade is: {:.2f}'.format(abs(Average_loss_per_trade)))

10132.2
Average loss Per Trade is: 105.54

### Question 7: Risk Reward ratio: Risk Reward Ratio is the ratio of average profit to average loss.

In [106]:
risk_reward_ratio = Average_profit_per_trade / Average_loss_per_trade
print('Risk reward ratio is: {:.2f}'.format(risk_reward_ratio))

Risk reward ratio is: -0.72

### Question 8: Expectancy : (Win Rate x Average Profit) - (Loss Rate x Average Loss), where Loss Rate = 1 - (Win Rate)

In [107]:
win_rate_ratio = len(rows_with_profit) / total_trades
Loss_rate = 1 - win_rate_ratio
Expectancy = (win_rate_ratio * Average_profit_per_trade) - (Loss_rate * Average_loss_per_trade)
print("Expectancy is: {:.2f}".format(Expectancy))

Expectancy is: 87.45

### Question 9: Average Rate of Return per trade

In [108]:
data = data.assign(Rate_Of_Return = ((data['Exit Price'] - data['Entry Price'])/data['Entry Price'])*100)
Average_rate_of_Return = data['Rate_Of_Return'].mean()
print("Average Rate of Return: {:.2f}".format(Average_rate_of_Return))

Average Rate of Return: 16.85

In [109]:
data.head()

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit,Rate_Of_Return
0,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00,137.50,84.097859
1,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75,4.25,2.615385
2,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00,36.45,32.971506
3,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55,142.45,48.271772
4,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15,-152.05,-27.386527

### Question 10. Sharpe Ratio: (Rate of Return - Risk-Free Rate) / (Standard deviation of the asset or portfolio)

In [147]:
import statistics

portfolio = 6500
Risk_free_rate = 0.05
#Sharpe_ratio = (Average_rate_of_Return - Risk_free_rate)/statistics.stdev(portfolio)
#print('The calmer ratio of portfolio is : {}'.format(Sharpe_ratio))

### Question 11. Max. Drawdown: 
### Formula: MDD = Through Value - Peak Value / Peak Value

In [110]:
through_value = 6500
peak_value = sum(data['Exit Price'])

maximum_drawdown = (through_value - peak_value)/peak_value
print('Maximum Drawdown is : {:.2f}'.format(maximum_drawdown))

Maximum Drawdown is : -0.91

### Question 12. Maximum Drawdown percentage

In [114]:
maximum_drawdown_percentage = maximum_drawdown*100
print('Maximum Drawdown percentage is : {:.2f}'.format(maximum_drawdown_percentage))

Maximum Drawdown percentage is : -91.19

### Question 13. CAGR

In [120]:
data['Entry Date'] = data['Exit Time'].str.split(" ")

In [122]:
data['Entry Date'] = data['Entry Date'][0][0]

In [123]:
data.head()

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit,Rate_Of_Return,Entry Date
0,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00,137.50,84.097859,08-07-2020
1,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75,4.25,2.615385,08-07-2020
2,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00,36.45,32.971506,08-07-2020
3,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55,142.45,48.271772,08-07-2020
4,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15,-152.05,-27.386527,08-07-2020

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          249 non-null    object
 1   Entry Time      249 non-null    object
 2   Entry Price     249 non-null    float64
 3   Exit Time       249 non-null    object
 4   Exit Price      249 non-null    float64
 5   Profit          249 non-null    float64
 6   Rate_Of_Return  249 non-null    float64
 7   Entry Date      249 non-null    object
dtypes: float64(4), object(4)
memory usage: 15.7+ KB

In [126]:
data["Entry Date"] = data['Entry Date'].apply(pd.to_datetime)

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          249 non-null    object
 1   Entry Time      249 non-null    object
 2   Entry Price     249 non-null    float64
 3   Exit Time       249 non-null    object
 4   Exit Price      249 non-null    float64
 5   Profit          249 non-null    float64
 6   Rate_Of_Return  249 non-null    float64
 7   Entry Date      249 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 15.7+ KB

In [128]:
data['Year'] = data['Entry Date'].dt.strftime('%Y')

In [129]:
data.head()

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit,Rate_Of_Return,Entry Date,Year
0,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00,137.50,84.097859,2020-08-07,2020
1,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75,4.25,2.615385,2020-08-07,2020
2,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00,36.45,32.971506,2020-08-07,2020
3,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55,142.45,48.271772,2020-08-07,2020
4,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15,-152.05,-27.386527,2020-08-07,2020

In [135]:
data['Year'].unique()

array(['2020'], dtype=object)

In [137]:
# As per the above query the number of years in this data is 1.
no_of_periods = 1
data = data.assign(CAGR = (((data['Exit Price']/data['Entry Price'])**(1/no_of_periods))-1))
data.head()

,Ticker,Entry Time,Entry Price,Exit Time,Exit Price,Profit,Rate_Of_Return,Entry Date,Year,CAGR
0,BANKNIFTY09JUL2022800PE,08-07-2020 09:29,163.50,08-07-2020 13:15,301.00,137.50,84.097859,2020-08-07,2020,0.840979
1,BANKNIFTY09JUL2022700CE,09-07-2020 09:29,162.50,09-07-2020 10:34,166.75,4.25,2.615385,2020-08-07,2020,0.026154
2,BANKNIFTY09JUL2022700PE,09-07-2020 09:29,110.55,09-07-2020 10:34,147.00,36.45,32.971506,2020-08-07,2020,0.329715
3,BANKNIFTY16JUL2022700CE,10-07-2020 09:29,295.10,10-07-2020 15:24,437.55,142.45,48.271772,2020-08-07,2020,0.482718
4,BANKNIFTY16JUL2022700PE,10-07-2020 09:29,555.20,10-07-2020 15:24,403.15,-152.05,-27.386527,2020-08-07,2020,-0.273865

### Question 14: Calmer Ratio
### Formula: Calmer Ratio = Average Annual Rate of Return / Maximum Drawdown

In [140]:
calmer_ratio = Average_rate_of_Return / maximum_drawdown
print('Calmer Ratio: {:.2f}'.format(calmer_ratio))

Calmer Ratio: -18.48